.app-container{
    display: flex;
    align-items: center;
    flex-direction: column;    
}
input{
    display: block;   
}

.register-container{
    border: 3px solid rgba(100, 56, 221, 0.466);
    align-self: center;
    padding: 20px 20px;
    border-radius: 5px;
}
table{
    width: 50%;
    justify-self: center;
	align-self: center;
    margin-top: 10%;
 }

 thead{
    background-color: rgb(161, 161, 161);
 }

#listdata{
    justify-self: center;
	align-self: center;
}
