<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Dados</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="app-container">
        <div class="register-container">
            <h1>Atualizar Dados</h1>
            <input class="nome" type="text" name="Nome" id="input" placeholder="Buscar nome...">
            <input class="nome" type="text" name="Nome" id="input" placeholder="Nome para atualizar...">
            <input class="idade" type="text" name="Idade" id="input" placeholder="Digite a Idade..">
            <input class="cpf" type="number" name="CEP" id="input" placeholder="Digite o cep...">
            <button>Atualizar</button>
            
        </div>
        <a href="index.html">Voltar as opções</a>
    </div>
</body>
</html>