<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Dados</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="app-container">
        <div class="register-container">
            <h1>Atualizar Dados</h1>
            <input class="id" type="number" name="Id" id="id" placeholder="Digite o id para atualizar..">
            <input class="nome" type="text" name="Nome" id="nome" placeholder="Nome para atualizar...">
            <input class="idade" type="text" name="Idade" id="idade" placeholder="Digite a Idade  para atualizar..">
            <input class="cpf" type="number" name="CEP" id="cep" placeholder="Digite o cep para atualizar...">
            <input type="submit" value="Atualizar" id="updateData" >
            
        </div>
        <a href="index.html">Voltar as opções</a>
    </div>
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script>
        const updateUser = () => {
                var id = document.getElementById('id').value;
                var nome = document.getElementById('nome').value;
                var idade = document.getElementById('idade').value;
                var cep = document.getElementById('cep').value;

                const json = {
                    "id":id,
                    "nome": nome,
                    "idade": idade,
                    "cep": cep
                }

                axios.put('http://localhost:3000/attAluno/' + id, json
                ).then((e) => location.reload(),
                    alert("Dados Atualizados com sucesso"))
                    .catch((err) => alert(err.discriçao))
            }
            document.getElementById('updateData').addEventListener('click', updateUser)
    </script>
</body>
</html>