<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta CEP</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="app-container">
        <div class="register-container">
            <h1>Consulta CEP</h1>
            <div class="register-container">
                <input class="id" type="number" name="Id" id="id" placeholder="Digite o RA do aluno..">
                
                <input type="submit" value="Consultar" id="saveData" >
            </div>
            <div id="listdata">
                <table>
                    <thead>
                        <th>RA</th> 
                        <th>Nome</th> 
                        <th>Idade</th> 
                        <th>CEP</th> 
                    </thead>
                    <tbody id="requestList"></tbody>
                </table>
            </div>
        </div>
        <a href="index.html">Voltar as opções</a>
    </div>
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script>
         const listdata = () => {
               
                var table = document.getElementById('requestList');
                axios.get('https://api.postmon.com.br/v1/cep/'+"13056314").then(response => {const data = response.data
             
                console.log(data.cidade)
                for(let i = 0; i<data.length; i++){
                    let tr = table.insertRow();

                    let RA = tr.insertCell();
                    let nome = tr.insertCell();
                    let idade = tr.insertCell();
                    let cep = tr.insertCell();

                    RA.innerText = data.cidade
                    nome.innerText = data.bairro
                    idade.innerText = data.cep
                    cep.innerText = data.logradouro
                }
                
            }).catch()
            
            }
            listdata();
        </script>
</body>
</html>