<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criando Dados</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="app-container">
        <div class="register-container">
        
            <h1>Criando Dados</h1>
            <input class="id" type="number" name="Id" id="id" placeholder="Digite o RA do aluno..">
            <input class="nome" type="text" name="Nome" id="nome" placeholder="Digite o nome...">
            
            <input class="idade" type="number" name="Idade" id="idade" placeholder="Digite a Idade..">
            
            <input class="cpf" type="text" name="CEP" id="cep" placeholder="Digite o cep...">
            
            <input type="submit" value="Cadastrar" id="saveData" >
            
            
        </div>
        <a href="index.html">Voltar as opções</a>
    </div>
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script>
        const saveUser = () => {

            var id =  document.getElementById('id').value;
            var nome =  document.getElementById('nome').value;
            var idade =  document.getElementById('idade').value;
            var cep =  document.getElementById('cep').value;

            const json = {
                "id":id,
                "Nome": nome,
                "Idade": idade,
                "CEP": cep
            }
            
            axios.post('http://localhost:3000/aluno',json
            ).then((e) => location.reload() ,
            alert("Dados Enviados com sucesso"))
            .catch((err) => console.log(err))
        }
        document.getElementById('saveData').addEventListener('click', saveUser)
    </script>
</body>
</html>