<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Dados</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="app-container">
        <div class="register-container">
            <h1>Deletar Dados</h1>
            <input class="id" type="number" name="Id" id="id" placeholder="Digite o RA para deletar..">
            <input type="submit" value="Deletar" id="delete" >
            
        </div>
        <a href="index.html">Voltar as opções</a>
    </div>
    <script src="../node_modules/axios/dist/axios.min.js"></script>
    <script>
        const deleteUser = () => {
    
            var id =  document.getElementById('id').value;
            
            var question = confirm("Deseja mesmo excluir o RA: "+id+"?")

            if (question) {
            axios.delete('http://localhost:3000/alunoDel/'+id).then((e) => location.reload(),
            alert("Dados deletados com sucesso"))
            .catch((err) => JSON.stringify(err))
            }
            else{location.reload()}
        }
        document.getElementById('delete').addEventListener('click', deleteUser)
    </script>
</body>
</html>