<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho Maligno</title>
    <link rel="stylesheet" href="../style/index.css">
</head>
<body>
    <div id="app">
        <h1 id="opcao">Selecione uma opção</h1>
        <a href="criar.html">Criar</a>
        <a href="deletar.html">Deletar</a>
        <a href="atualizar.html">Atualizar</a>
        <a href="listardados.html">Listar dados</a>
        <a href="consultacep.html">consultar CEP</a>
    </div>
</body>
</html>