<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar dados</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <div class="app-container">
        <div class="register-container">
            <h1>Lista dos Dados</h1>
            <div class="listdata"></div>
            
        </div>
        <a href="index.html">Voltar as opções</a>
    </div>
</body>
</html>